.freelancerDetails {
    max-width: 800px;
    min-height: 65vh;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.backButton {
    background: none;
    border: none;
    color: #007bff;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 10px;
}

.profileHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileImage {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.role, .location, .availability {
    font-size: 1rem;
    margin: 5px 0;
}

.detailsSection {
    margin-top: 15px;
    text-align: left;
}

.detailsSection p {
    font-size: 1rem;
    margin: 8px 0;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    display: inline-block;
    background: #FFCC00;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

.hireButton {
    background-color: #28a745;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.hireButton:hover {
    background-color: #218838;
}
