.featureButtonsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  width: 100%;
  background-color: #2F4745;
}

.banner {
  width: 100%;
  background-color: #3D5B59;
  color: #ffffff;
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
  padding: 20px 40px;
}

.featureButtonsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 30px; /* Space between buttons */
  width: 100%;
  height: auto;
  padding: 40px 0;
  justify-items: center; /* Centers the buttons */
}

.featureButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: none;
  background: none;
  cursor: pointer;
  text-align: center;
}

.circle {
  position: relative;
  width: 170px;
  height: 175px;
  border-radius: 50%;
  background-color: #abb9a4;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  overflow: hidden;
}

.featureButton:hover .circle {
  filter: brightness(0.6);
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.yellowCircle .circle {
  background-color: #ffd700;
}

.circleImage {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

.circleImageFindTalent {
  width: 85%;
  height: 85%;
  object-fit: contain;
}

.circleImageFindWork {
  width: 85%;
  height: 85%;
  object-fit: contain;
  transform: translateY(-5%) rotate(-45deg);
}

.buttonText {
  font-size: 2rem;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

/* Responsive for smaller screens */
@media (max-width: 768px) {
  .featureButtonsSection {
    height: auto;
  }

  /* Use grid for layout */
  .featureButtonsContainer {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 20px; /* Reduced space between buttons */
  }

  /* Adjust the size of the circles */
  .circle {
    width: 120px;
    height: 120px;
  }

  /* Adjust the text size */
  .buttonText {
    font-size: 1.5rem;
  }

  /* Adjust the image size for specific buttons */
  .circleImageFindTalent {
    width: 75%;
    height: 75%;
  }

  .circleImageFindWork {
    width: 75%;
    height: 75%;
    transform: translateY(-5%) rotate(-45deg);
  }
}
